@charset "ISO-8859-1";

body{
	background:#d3e3fa;

}


#nav {
	width:100vw;
	margin-left:-11px;
}



#nav div div ul .nav-item> a:nth-child(1){
	color:#ddf1ff;
	padding-top:13px;
}

#nav div div ul .nav-item> a:nth-child(1):hover{
	color:white;
}

#nav div div ul .nav-item button{
	color:#ddf1ff;
	padding-top:13px;
}
#nav div div ul .nav-item button:hover{
	color:white;
}
#nav div div ul .nav-item form .dropdown-item{
	color:black;
	padding-top:4px;
	border-radius: 18px;
}

#nav .container-fluid img{
	height:45px;
	width:60px;
}

#nav div div ul .nav-item .dropdown-menu .dropdown-item{
	
	border-radius: 18px;
}

body .col-12 tbody .table-primary td{
	background:rgb(135, 183, 232);
	
}
/**/
body .container-fluid .mt-4 #table_pagination .bg-primary tr{
	background:rgb(63, 141, 220);
	color:white;
	opacity:0.9;
}

	
body .container-fluid div .col-12 .row .col-12 #table_pagination tbody td{
	background:white;
}
body .container-fluid div .col-12 .row .col-12 #table_pagination .bg-primary tr{
	background:rgb(63, 141, 220);
	color:white;
	opacity:0.9;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute !important;
    top: 12px !important;
    right: 8px !important;
    display: block !important;
    font-family: FontAwesome !important;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc" !important;
    font-size: 0.8em !important;
    padding-top: 0.12em !important;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de" !important;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd" !important;
}

@media only screen and (width < 990px){
	#nav div div ul .nav-item> a:nth-child(1){
	padding-top:18px;
	}
	#nav div div ul .nav-item button{
	padding-top:18px;
	}
	
}
